<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <title>Elite Dangerous Events</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Event creator for Elite Dangerous">
    <meta name="author" content="Christian Cecilia">
    <meta name="keywords" content="elite dangerous, events, ED, elite, dangerous, community goals">
    <link rel="icon" href="http://edassets.org/img/pilots-federation/rank-9.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ED Events CSS -->
    <link href="{% static 'css/ed_events_style.css' %}" rel="stylesheet"/>
  </head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

            <header class="masthead clearfix">
              <h3 class="masthead-brand">Elite Dangerous Events</h3>

              <nav class="nav nav-masthead">
                <a class="nav-link {% if page == 'index' %}active{% endif %}" href="/">Home</a>
                <a class="nav-link {% if page == 'allEvents' %}active{% endif %}" href="/allEvents/">All Events</a>
                {% if user.is_authenticated %}
                  <a class="nav-link {% if page == 'createEvent' %}active{% endif %}" href="/createEvent/" >Create Event</a>
                  
                  <a class="nav-link {% if page == 'myEvents' %}active{% endif %}" href="/myEvents/" >My Events</a>
                  <a class="nav-link" href="/logout/">Log out</a>
                {% else %}
                  <a class="nav-link {% if page == 'signin' %}active{% endif %}" href="/signin/">Sign In/Register</a>
                {% endif %}
              </nav>
            </header>
            {% block content %}
            {% endblock %}
            <footer class="mastfoot">
            <div class="inner">
              <p>
                <a class="footer-link" href="mailto:christian.cecilia1@gmail.com?Subject=Elite%20Dangerous%20Events">Created by CMDR Doughboy856</a>
              </p>
              <p>
                <a class="footer-link" href="https://github.com/CCecilia/eliteDangerousEvents" target="_blank">view source code</a>
              </p>
              <p>
              <p class="footer-disclaimer">
                This website was created using assets and imagery from Elite Dangerous and <a class="footer-link" href="http://edassets.org/" target="_blank">Elite Dangerous Assests</a> for non-commercial purposes. It is not endorsed by nor reflects the views or opinions of Frontier Developments and no employee of Frontier Developments was involved in the making of it.
              </p>
            </div>
          </footer>

        </div>

      </div>

    </div>


    <!-- Popups -->
    <div id="event-details-popup">
      <img class="event-popup-type event-type-img-sm" src="" alt=""/>
      <p class="event-popup-name"></p>
      <p class="event-popup-description"></p>
      <p class="event-popup-location"></p>
      <p class="event-popup-start-date"></p>
      <p class="event-popup-start-time"></p>
      <p class="event-popup-end-date"></p>
      <p class="event-popup-end-time"></p>
      <span><i class="fa fa-users" aria-hidden="true"></i></span><span class="attendance"></span>
      <input name="event-id" type="hidden">
      {% if user.is_authenticated %}
        {% if page == 'myEvents' %}
          <br>
          <br>
          <button class="edit-event event-option">Edit</button>
          <br>
          <br>
          <button class="remove-event event-option">Remove</button>
          <br>
          <br>
          <button class="share-event event-option">Share</button>

          <button class="reddit-share event-share-option"><i class="fa fa-reddit-alien" aria-hidden="true"></i></button>
          <button class="share-cancel event-share-option"><i class="fa fa-times" aria-hidden="true"></i></button>
        {% else %}
          <form name="join-event" method="POST" action="/event/join/">
            <input type="hidden" name="event-id">
            <br>
            <button class="join-event event-option" type="submit">Join</button>
          </form>
        {% endif %}
      {% endif %}
    </div>

    <div id="confirm-removal-popup">
      <p class="remove-confirm-msg">
        Are you sure?
      </p>
      <button class="remove-event-yes">Yes</button>
      <button class="remove-event-no">No</button>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- ED Events JS -->
    <script type="text/javascript" src="{% static 'js/ed_events_scripts.js' %}"></script>
  </body>
</html>