{% extends "html/base.html" %}
{% block content %}
{% load staticfiles %}
          <main role="main" class="inner cover">
            <h1 class="cover-heading">{{ coverHeading }}</h1>
            <form name="event-create-form" method="POST" action="/event/create/">
            	<h2 class="event-label cover-heading">Event Title</h2>
	            <input class="event-name" name="event-title" placeholder="Event Title" type="text">
	            <h2 class="event-label cover-heading">Event Type</h2>
	            <ul class="event-type-list">
	            	<li>
	            		<img class="event-type-img" src="{% static 'img/rank-9-combat.png' %}" alt="Combat" data-type="combat"/><br>
	            		Combat
	            	</li>
	            	<li>
	            		<img class="event-type-img" src="{% static 'img/rank-9-exploration.png' %}" alt="Exploration" data-type="exploration"/><br>
	            		Exploration
	            	</li>
	            	<li>
	            		<img class="event-type-img" src="{% static 'img/rank-9-trading.png' %}" alt="Trading" data-type="trading"/><br>
	            		Trading
	            	</li>
	            </ul>
	            <h2 class="platform-label cover-heading">Platform</h2>
	            <ul class="platform-type-list">
	            	<li>
	            		<img class="platform-type-img" src="{% static 'img/xbox-icon-ed-org.png' %}" alt="XBox" data-type="XB"/><br>
	            		XBox 
	            	</li>
	            	<li>
	            		<img class="platform-type-img" src="{% static 'img/Playstation-icon.png' %}" alt="Playstation" data-type="PS"/><br>
	            		Playstation
	            	</li>
	            	<li>
	            		<img class="platform-type-img" src="{% static 'img/pc-icon.png' %}" alt="PC" data-type="PC"/><br>
	            		PC
	            	</li>
	            </ul>
	            <h2 class="event-label cover-heading">Start/End</h2>
	            <ul class="event-type-list">
	            	<li>
	            		<label for="event-start-date">Start Date:</label>
	            		<input class="event-start-date" type="date" name="event-start-date"/>
	            		<label for="event-start-time">Start Time:</label>
	            		<input class="event-start-time" type="time" name="event-start-time"/>
	            	</li>
	            	<li>
	            		<label for="event-end-date">End Date:</label>
	            		<input class="event-end-date" type="date" name="event-end-date"/>
	            		<label for="event-end-time">End Time:</label>
	            		<input class="event-end-time" type="time" name="event-end-time"/>
	            	</li>
	            </ul>
	            <input type="hidden" name="event-type"/>
	            <input type="hidden" name="platform-type"/>
	            <h2 class="event-label cover-heading">Event Location</h2>
	            <input class="event-location" name="event-location" placeholder="Event Location" type="text"><span><i class="fa fa-search location-search-icon"></i></span>
	            <div class="location-results-wrapper">
	            	<table id="location-results-table"></table>
	            </div>
	            <h2 class="event-label cover-heading">Chat</h2>
	            <br>
	            <img src="{% static 'img/Discord-Logo+Wordmark-Color.png' %}" alt="Discord Logo" width="15%" height="auto"/>
	            <input class="discord-input" name="discord-link" placeholder="Discord Server Link" type="text">
	            <h2 class="event-label cover-heading">Description</h2>
	            <textarea class="event-description" name="event-description" cols="75" rows="5"></textarea>
	            {% csrf_token %}
	            <input type="hidden" name="user-id" value="{{ user.id }}"/>
	            <br>
	            <br>
	            {% if user.is_authenticated %}
	            	<button class="btn btn-outline event-create-btn" type="submit">Create</button>
	        	{% else %}
	        		<p class="signin-error">Sign in required for creating events</p>
	        	{% endif %}
            </form>
	            
          </main>
{% endblock %}