{% extends "html/base.html" %}
{% block content %}
{% load staticfiles %}
          <main role="main" class="inner cover">
            <h1 class="cover-heading">{{ coverHeading }}</h1>
            <form name="event-search-form" action="/searchEvents/" method="post">
            	{% csrf_token %}
            	<input class="event-search-input" name="event-search" type="text" placeholder="Search Events"/>
            </form>  
            <div class="row event-search-results"></div>
            {% if featuredEvents %}
          		<h1 class="cover-heading">Featured</h1>
          		<div class="row featured-events">
                    {% for event in featuredEvents %}
                        <div class="featured-event-preview" data-id="{{ event.id }}">
                            {% csrf_token %}
                            {% if event.event_type == 'combat' %}
                                <img class="event-type-img-sm" src="{% static 'img/rank-9-combat.png' %}" alt="Combat" data-type="combat"/>
                            {% elif event.event_type == 'exploration' %}
                                <img class="event-type-img-sm" src="{% static 'img/rank-9-exploration.png' %}" alt="Exploration" data-type="exploration"/>
                            {% else %}
                                <img class="event-type-img-sm" src="{% static 'img/rank-9-trading.png' %}" alt="Trading" data-type="trading"/>
                            {% endif %}
                            <p>{{ event.name|truncatechars:18 }}</p>
                            <p>{{ event.start_date.date }}</p>
                            <span>
                                {% if event.platform == 'PC' %}
                                    <img class="eve`nt-platform-img-icon" src="{% static 'img/pc-icon.png' %}" alt="PC" data-type="PC"/>
                                {% elif event.platform == 'XB' %}
                                    <img class="event-platform-img-icon" src="{% static 'img/xbox-icon-ed-org.png' %}" alt="XBox" data-type="XB"/>
                                {% else %}
                                    <img class="event-platform-img-icon" src="{% static 'img/Playstation-icon.png' %}" alt="Playstation" data-type="PS"/>
                                {% endif %}
                            </span>
                            <span>
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </span>
                            <span  class="attendee-count">
                                {{ event.attendees.all.count }}
                            </span>
                        </div>
                    {% endfor %}
          		</div>
            {% endif %}
          </main>
{% endblock %}
