{% extends "html/base.html" %}
{% block content %}
{% load staticfiles %}
          <main role="main" class="inner cover">
            <h1 class="cover-heading">{{ coverHeading }}</h1>
            <form name="event-search-form" action="/searchEvents/" method="post">
            	{% csrf_token %}
            	<input class="event-search-input" name="event-search" type="text" placeholder="Search Events"/>
            </form>  
            <div class="row event-search-results"></div>
          </main>
{% endblock %}
