{% extends "html/base.html" %}
{% block content %}
{% load staticfiles %}
	<main role="main" class="inner cover">
		<h1 class="cover-heading">{{ coverHeading }}</h1>
    	<form class="lfg-post-form" name="lfg-post-form" method="POST" action="{% url 'website:createLfgPost' %}">
    		<div class="row lfg-post-form-open-close-wrap">
    			<div class="col-sm-6 text-left create-lfg-toggle">Create Post</div> 
    			<div class="col-sm-6 text-right create-lfg-toggle"><i class="fa fa-chevron-down toggle-lfg-post"></i></div> 
    		</div>
    		<div class="lfg-form-wrap">
				<div class="row">
			    	<div class="col-sm-6">
			    		<h3>Group Type</h3>
			            <ul class="lfg-type-list">
			            	<li>
			            		<img class="lfg-type-img" src="{% static 'img/rank-9-combat.png' %}" alt="Combat" data-type="combat"/><br>
			            		Combat
			            	</li>
			            	<li>
			            		<img class="lfg-type-img" src="{% static 'img/rank-9-exploration.png' %}" alt="Exploration" data-type="exploration"/><br>
			            		Exploration
			            	</li>
			            	<li>
			            		<img class="lfg-type-img" src="{% static 'img/rank-9-trading.png' %}" alt="Trading" data-type="trading"/><br>
			            		Trading
			            	</li>
			            </ul>
			            <input type="hidden" name="lfg-type"/>
			    	</div>
			    	<div class="col-sm-6">
			    		<h3>Platform</h3>
			    		<ul class="platform-type-list">
			            	<li>
			            		<img class="platform-type-img" src="{% static 'img/xbox-icon-ed-org.png' %}" alt="XBox" data-type="XB"/><br>
			            		XBox 
			            	</li>
			            	<li>
			            		<img class="platform-type-img" src="{% static 'img/Playstation-icon.png' %}" alt="Playstation" data-type="PS"/><br>
			            		Playstation
			            	</li>
			            	<li>
			            		<img class="platform-type-img" src="{% static 'img/pc-icon.png' %}" alt="PC" data-type="PC"/><br>
			            		PC
			            	</li>
			            </ul>
			            <input type="hidden" name="platform-type"/>
			    	</div>
		    	</div>
		    	<hr>
		    	<div class="row">
		    		<div class="col-sm-6 col-md-4">
		    			<label class="lfg-label"for="commander-name">Commander Name</label>
		    			<input class="lfg-input" name="commander-name" placeholder="Commander Name"/>
		    		</div>
		    		<div class="col-sm-6 col-md-4">
		    			<label>Ship</label>
		    			<br>
		    			<select class="lfg-dropdown" name="ship">
		    				<option>Select your ship</option>
		    				<option value="Adder">Adder</option>
		    				<option value="Anaconda">Anaconda</option>
		    				<option value="Asp Explorer">Asp Explorer</option>
		    				<option value="Asp Scout">Asp Scout</option>
		    				<option value="Beluga Liner">Beluga Liner</option>
		    				<option value="Cobra MkIII">Cobra MkIII</option>
		    				<option value="Cobra MkIV">Cobra MkIV</option>
		    				<option value="Diamondback Explorer">Diamondback Explorer</option>
		    				<option value="Diamondback Scout">Diamondback Scout</option>
		    				<option value="Dolphin">Dolphin</option>
		    				<option value="Eagle MkII">Eagle MkII</option>
		    				<option value="Federal Assault Ship">Federal Assault Ship</option>
		    				<option value="Federal Corvette">Federal Corvette</option>
		    				<option value="Federal Dropship">Federal Dropship</option>
		    				<option value="Federal Gunship">Federal Gunship</option>
		    				<option value="Fer-de-Lance">Fer-de-Lance</option>
		    				<option value="Hauler">Hauler</option>
		    				<option value="Imperial Clipper">Imperial Clipper</option>
		    				<option value="Imperial Courier">Imperial Courier</option>
		    				<option value="Imperial Cutter">Imperial Cutter</option>
		    				<option value="Imperial Eagle">Imperial Eagle</option>
		    				<option value="Keelback">Keelback</option>
		    				<option value="Orca">Orca</option>
		    				<option value="Python">Python</option>
		    				<option value="Sidewinder">Sidewinder</option>
		    				<option value="Type-10 Defender">Type-10 Defender</option>
		    				<option value="Type-6 Transporter">Type-6 Transporter</option>
		    				<option value="Type-7 Transporter">Type-7 Transporter</option>
		    				<option value="Type-9 Heavy">Type-9 Heavy</option>
		    				<option value="Viper MkIII">Viper MkIII</option>
		    				<option value="Viper MkIV">Viper MkIV</option>
		    				<option value="Vulture">Vulture</option>
		    			</select>
		    		</div>
		    		<div class="col-sm-12 col-md-4">
		    			<label id="rank-label">Combat Rank</label>
		    			<br>
		    			<select class="lfg-dropdown" name="rank">
		    				<option value="harmless">Choose group type 1st</option>
		    			</select>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-sm-4">
		    			<label for="lfg-activity">Discord Server</label>
		    			<br>
		            	<input class="discord-input" name="lfg-discord-link" placeholder="Discord Server Link" type="text">
		    		</div>
		    		<div class="col-sm-4">
		    			<label for="lfg-activity">Location</label>
		    			<br>
			            <input class="event-location" name="lfg-location" placeholder="Location" type="text"  autocomplete="off">
			            <div class="location-results-wrapper">
			            	<table id="location-results-table"></table>
			            </div>
		    		</div>
		    		<div class="col-sm-4">
		    			<label for="lfg-message">Message</label>
		    			<br>
			            <textarea class="lfg-message" name="lfg-message" placeholder="Please add a brief message"></textarea>
		    		</div>
		    	</div>
		    	<div class="row">
		    		{% csrf_token %}
		    		<button class="btn create-lfg-post">Create</button>
		    	</div>
	    	</div>
	    </form>
		<div class="row lfg-posts">
			{% if posts %}
				<input type="hidden" name="lfg-last-post-id" value="{{ last_id }}"/>
				{% for post in posts %}
					<div class="row post-wrap">
						<div class="col-lg-2 lfg-post-type-col text-center">
							{% if post.post_type == 'combat' %}
			  					<img class="event-type-img-sm lfg-img" src="{% static 'img/rank-9-combat.png' %}" alt="Combat" data-type="combat"/>
			  				{% elif post.post_type == 'exploration' %}
			  					<img class="event-type-img-sm lfg-img" src="{% static 'img/rank-9-exploration.png' %}" alt="Exploration" data-type="exploration"/>
		  					{% else %}
		  						<img class="event-type-img-sm lfg-img" src="{% static 'img/rank-9-trading.png' %}" alt="Trading" data-type="trading"/>
	  						{% endif %}
	  						<br>
	  						{% if event.platform == 'XB' %}
			  					<img class="event-platform-img-icon lfg-img" src="{% static 'img/xbox-icon-ed-org.png' %}" alt="XBox" data-type="XB"/>
			  				{% elif event.platform == 'PS' %}
			  					<img class="event-platform-img-icon lfg-img" src="{% static 'img/Playstation-icon.png' %}" alt="Playstation" data-type="PS"/>
		  					{% else %}
		  						<img class="event-platform-img-icon lfg-img" src="{% static 'img/pc-icon.png' %}" alt="PC" data-type="PC" />
	  						{% endif %}
						</div>
						<div class="col-lg-4 lfg-post-commander-col text-left">
							<div class="row ">
								<div class="col-lg-5">
									<p>Commander: {{ post.commander }}</p>
									<p>Rank: {{ post.rank }}</p>
									<p>Ship: {{ post.ship }}</p>
								</div>
								<div class="col-lg-7 text-left">
									<p>Discord: {% if post.discord_link %}<a href="{{ post.discord_link }}" target="_blank">{{ post.discord_link|truncatechars:30 }}</a>{% else %}Not Given{% endif %}</p>
							    	<p>Location: {% if post.location %}{{ post.location }}{% else %}Not Given{% endif %}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 lfg-post-msg-col">
							<p>{{ post.message }}</p>
						</div>
						<div class="col-lg-1 lfg-post-time-col">
							<p class="center-vert">{{ post.timeSinceCreation }}</p>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p class="center-hor">Sorry no posts at this time :(</p>
			{% endif %}
		</div>
		<div class="row">
            {% if posts.has_other_pages %}
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for page_number in page_range %}
                        {% if posts.number == page_number %}
                            <li class="active"><span>{{ page_number }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock %}