{% extends "html/base.html" %}
{% block content %}
{% load staticfiles %}
          <main role="main" class="inner cover">
            <h1 class="cover-heading">{{ coverHeading }}</h1>
            <div class="row event-search-results">
                {% for event in events %}
                    <div class="event-preview" data-id="{{ event.id }}">
                        {% csrf_token %}
                        {% if event.event_type == 'combat' %}
                            <img class="event-type-img-sm" src="http://edassets.org/img/pilots-federation/combat/rank-9-combat.png" alt="Combat" data-type="combat"/>
                        {% elif event.event_type == 'exploration' %}
                            <img class="event-type-img-sm" src="http://edassets.org/img/pilots-federation/explorer/rank-9.png" alt="Combat" data-type="combat"/>
                        {% else %}
                            <img class="event-type-img-sm" src="http://edassets.org/img/pilots-federation/trading/rank-9-trading.png" alt="Combat" data-type="combat"/>
                        {% endif %}
                        <p>{{ event.name }}</p>
                        <p>{{ event.start_date }}</p>
                        <span>
                            {% if event.platform == 'PC' %}
                                <img class="event-platform-img-icon" src="{% static 'img/pc-icon.png' %}" alt="PC" data-type="PC"/>
                            {% elif event.platform == 'XB' %}
                                <img class="event-platform-img-icon" src="{% static 'img/xbox-icon-ed-org.png' %}" alt="XBox" data-type="XB"/>
                            {% else %}
                                <img class="event-platform-img-icon" src="{% static 'img/Playstation-icon.png' %}" alt="Playstation" data-type="PS"/>
                            {% endif %}
                        </span>
                        <span>
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                        <span  class="attendee-count">
                            {{ event.attendees.all.count }}
                        </span>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% if events.has_other_pages %}
                    <ul class="pagination">
                        {% if events.has_previous %}
                            <li><a href="?page={{ events.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for page_number in events.paginator.page_range %}
                            {% if events.number == page_number %}
                                <li class="active"><span>{{ page_number }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if events.has_next %}
                            <li><a href="?page={{ events.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
          </main>
{% endblock %}