{% extends "html/base.html" %}
{% block content %}
{% load staticfiles %}
          <main role="main" class="inner cover">
            <h1 class="cover-heading"><signin class="signin active-signin">Sign In</signin> | <register class="register">Register</register></h1>
            <form  class="signin-form" name="signin-form" action="/login/" method="post">
            	
            	<p class='signin-error'>Username/password incorrect</p>
            	{% csrf_token %}
            	<input class="signin-input" name="signin-username" type="text" placeholder="Username"/>
            	<input class="signin-input" name="signin-password" type="password" placeholder="Password"/>
            	<button class="btn btn-outline signin-btn">Sign In</button>
                  <br>
                  <br>
                  <a class="google-sign-btn" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a> 
            </form>
            <form  class="register-form" name="register-form" action="/register/" method="post">
            	{% csrf_token %}
            	<p class='register-error'></p>
            	<input class="register-input" name="register-username" type="text" placeholder="Username"/>
            	<input class="register-input" name="register-email" type="Email" placeholder="Email"/>
            	<input class="register-input" name="register-password" type="password" placeholder="Password"/>
            	<input class="register-input" name="register-confirm-password" type="password" placeholder="Confirm Password"/>
            	<button class="btn btn-outline register-btn">Register</button>
            </form>  
          </main>
{% endblock %}